<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SonicRP - Le Blog</title>
    <link rel="stylesheet" href="/static/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css">


</head>
<body>
    <header>
        <img src="/static/imgs/LogoSDev-noback.png" draggable="false">
        <div class="links">
            <a href="/">Accueil</a>
            <a href="/joinus">Nous Rejoindre</a>
            <a href="/blog" class="selected">Blog</a>
            <a href="https://discord.gg/uRSEF3kDk7" target="__blank">Discord</a>
        </div>
    </header>

    <div class="wrapper">
        <div class="posts">
            <% if (postsJson.posts.length == 0) { %>
                <span class="nothing">Il n'y à aucun poste !</span>
            <% } else { %>
                <% postsJson.posts.forEach(element => { %>
                    <div class="post">
                        <h1 class="title"><%= element.title %></h1>
                        <span class="content"><%= element.content %></span>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>

    <footer>
        <div class="icons">
            <a href="https://discord.gg/uRSEF3kDk7" target="__blank"><i class="fab fa-discord"></i></a>
            <a href="https://www.youtube.com/channel/UCe0Azm9fEUhLW4vC141VpIA/videos" target="__blank"><i class="fab fa-youtube"></i></a>
        </div>

        <span>SonicRP - © Copyright 2021. Tous droits réservés.</span>
        <span>Développé avec <span id="heart">&#x2764;</span> par <span id="tristan">TristanB#5058</span></span>
    </footer>

</body>
</html>