<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SonicRP - Accueil</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css">
</head>
<body>
    <header>
        <img src="/static/imgs/LogoSDev-noback.png" draggable="false">
        <div class="links">
            <a href="/" class="selected">Accueil</a>
            <a href="/joinus">Nous Rejoindre</a>
            <a href="/blog">Blog</a>
            <a href="https://discord.gg/uRSEF3kDk7" target="__blank">Discord</a>
        </div>
    </header>

    <div class="header_bottom">
        <h1>Un serveur DarkRP unique !</h1>
        <span>Rejoignez tous les joueurs jouant sur notre serveur !</span>
    </div>

    <div class="infos">
        <img src="/static/imgs/LogoSDev-noback.png" draggable="false">
        <div class="spacer"></div>
        <div class="text">
            <h1>Informations</h1>
            <span>SonicRP est un serveur DarkRP semi-serious, fondée en 2021 par <span id="discord">Mishea#6360</span>. Le serveur fais partis du groupe SonicDev, société de développement à la demande du client.</span>
        </div>
    </div>

    <div class="quality">
        <div class="card">
            <i class="fas fa-tint"></i>
            <h1>Serveur Fluide</h1>
            <span>Nous optimisons au mieux notre serveur et notre materiel pour garantir une bonne expérience de jeu.</span>
        </div>

        <div class="card">
            <i class="fas fa-user"></i>
            <h1>Staff compétent</h1>
            <span>Notre staff sera toujours à votre écoute pour vous aider, et vous garantir une éxperience de jeu exceptionnel !</span>
        </div>

        <div class="card">
            <i class="fas fa-gamepad"></i>
            <h1>Métiers uniques</h1>
            <span>Nos métiers sont uniques et original afin de vous faire ré-découvrir le DarkRP moderne.</span>
        </div>
    </div>

    <footer>
        <div class="icons">
            <a href="https://discord.gg/uRSEF3kDk7" target="__blank"><i class="fab fa-discord"></i></a>
            <a href="https://www.youtube.com/channel/UCe0Azm9fEUhLW4vC141VpIA/videos" target="__blank"><i class="fab fa-youtube"></i></a>
        </div>

        <span>SonicRP - © Copyright 2021. Tous droits réservés.</span>
        <span>Développé avec <span id="heart">&#x2764;</span> par <span id="tristan">TristanB#5058</span></span>
    </footer>
</body>
</html>